@model PagedResult<KooliProjekt.Data.Document>

@{
<<<<<<< HEAD

    ViewData["Title"] = "Index";

=======
    ViewData["Title"] = "Index";
>>>>>>> 3ab08cc95858c0f3d4ab2d2123111f2da03c6471
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
<<<<<<< HEAD

                Type
            </th>
            <th>

                File
            </th>
            <th>

=======
                Type
            </th>
            <th>
                File
            </th>
            <th>
>>>>>>> 3ab08cc95858c0f3d4ab2d2123111f2da03c6471
                Visit
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
<<<<<<< HEAD

        @foreach (var item in Model.Results)
        {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.File)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Visit)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>

@(await Component.InvokeAsync<PagerViewComponent>(Model))
=======
@foreach (var item in Model.Results) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.File)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@(await Component.InvokeAsync<PagerViewComponent>(Model))
>>>>>>> 3ab08cc95858c0f3d4ab2d2123111f2da03c6471
